header{
    background-color: rgb(255, 240, 223);
    padding: 40px 200px;
}
#logo{
    width: 280px;
    margin : 5px;
}
ul{
    font-weight: 200;
    border : 2px solid red;
}
.contents{
    margin: 40px 200px;
}
/* ul{
    float : right;
} */
h1{
    font-size: 4rem;
    font-family : Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-weight: bold;
}
#orange{
    color: rgb(214, 141, 6);
}
#blue{
    color: rgb(29, 17, 108);
}

.card>div>img{
  /* transform: scale(.65); */
  height : 50%;
}
footer{
    padding: 100px 200px;
}

.footer-image{
    width : 70%;

    /* Centering any element */
    position: relative;
    top: 30%;  /*top:30% instead of 50% because of the gutter*/
    left : 50%;
    transform: translateX(-50%) translateY(-50%);
}
.footer-card-text{
    font-size: 1.5rem;
}
.side-image>img{
    width : 100%;
}
